In [1]:
(50-5*6)/4

5.0

In [4]:
8/5

1.6

In [6]:
8//5

1

In [8]:
7//-3

-3

In [10]:
8//-5

-2

In [12]:
7/-3

-2.3333333333333335

In [14]:
7//3

2

In [16]:
_

2

In [20]:
list(range(5,9))

[5, 6, 7, 8]

In [22]:
a = [66.25, 333, 333, 1, 1234.5]

In [25]:
print(a.count(333), a.count(66.25))

2 1

In [27]:
a.insert(2, -1)

In [29]:
a

[66.25, 333, -1, -1, 333, 1, 1234.5]

In [32]:
a.index(66.25)

0

In [3]:
t = [12345, 54321, 'hello!']

In [4]:
t

[12345, 54321, 'hello!']

In [8]:
4*0.5

2.0

In [1]:
price, unit = 100.50, 50

In [22]:
print(f"Total :{unit*price:,.2f}")

Total :5,025.00

In [24]:
x=complex(2,-2)

In [31]:
x

(2-2j)

In [91]:
first_n,last_n = ' k a pil ','rathor'

In [39]:
print(first_n+' '+last_n)
print(len(first_n))

kapil rathor
5

In [48]:
'm' not in first_n

True

In [50]:
first_n*2

'kapilkapil'

In [93]:
first_n.strip()

'k a pil'

In [3]:
stu = [9,10,300,20,20]

In [17]:
stu.remove(20)

In [62]:
stu1 = stu.copy()

In [98]:
stu.sort()

In [66]:
stu.sort(reverse = True)

In [4]:
stu

[9, 10, 300, 20, 20]

In [1]:
stud = (1,3,7,55,88,88,34,34)

In [2]:
stud

(1, 3, 7, 55, 88, 88, 34, 34)

In [9]:
studs = {2,22,222,222,1,11,111,111}

In [13]:
studs.add(3)

In [16]:
studs.update([33,333])

In [19]:
studs1 = studs.copy()

In [21]:
studs

{1, 2, 3, 11, 22, 33, 111, 222, 333}

In [2]:
studs1

NameError: name 'studs1' is not defined

In [7]:
people = {'htanaka': 'Haru Tanaka','htanaka': 'Haru','ppatel': 'Priya Patel','bagarcia': 'Benjamin Alberto Garcia','zmin': 'Zhang Min','afarooqi': 'Ayesha Farooqi','hajackson': 'Hanna Jackson','papatel': 'Pratyush Aarav Patel','hrjackson': 'Henry Jackson'}

In [20]:
len(people)

8

In [8]:
people

{'htanaka': 'Haru',
 'ppatel': 'Priya Patel',
 'bagarcia': 'Benjamin Alberto Garcia',
 'zmin': 'Zhang Min',
 'afarooqi': 'Ayesha Farooqi',
 'hajackson': 'Hanna Jackson',
 'papatel': 'Pratyush Aarav Patel',
 'hrjackson': 'Henry Jackson'}

In [35]:
people.get('zmin','ppatel')

'Zhang Min'

In [37]:
people['htanaka'] = 'Haru T'

In [60]:
people.update({'kapilr': 'Kapil Rathore'})

In [45]:
people

{'htanaka': 'Haru T',
 'ppatel': 'Priya Patel',
 'bagarcia': 'Benjamin Alberto Garcia',
 'zmin': 'Zhang Min',
 'afarooqi': 'Ayesha Farooqi',
 'hajackson': 'Hanna Jackson',
 'papatel': 'Pratyush Aarav Patel',
 'hrjackson': 'Henry Jackson',
 'kapilr': 'Kapil Rathore'}

In [48]:
for person in people.keys():    print(person + " = " + people[person])

htanaka = Haru T
ppatel = Priya Patel
bagarcia = Benjamin Alberto Garcia
zmin = Zhang Min
afarooqi = Ayesha Farooqi
hajackson = Hanna Jackson
papatel = Pratyush Aarav Patel
hrjackson = Henry Jackson
kapilr = Kapil Rathore

In [50]:
people.keys()

dict_keys(['htanaka', 'ppatel', 'bagarcia', 'zmin', 'afarooqi', 'hajackson', 'papatel', 'hrjackson', 'kapilr'])

In [52]:
people.items()

dict_items([('htanaka', 'Haru T'), ('ppatel', 'Priya Patel'), ('bagarcia', 'Benjamin Alberto Garcia'), ('zmin', 'Zhang Min'), ('afarooqi', 'Ayesha Farooqi'), ('hajackson', 'Hanna Jackson'), ('papatel', 'Pratyush Aarav Patel'), ('hrjackson', 'Henry Jackson'), ('kapilr', 'Kapil Rathore')])

In [54]:
people.values()

dict_values(['Haru T', 'Priya Patel', 'Benjamin Alberto Garcia', 'Zhang Min', 'Ayesha Farooqi', 'Hanna Jackson', 'Pratyush Aarav Patel', 'Henry Jackson', 'Kapil Rathore'])

In [57]:
people.clear()

In [62]:
people

{'htanaka': 'Haru',
 'ppatel': 'Priya Patel',
 'bagarcia': 'Benjamin Alberto Garcia',
 'zmin': 'Zhang Min',
 'afarooqi': 'Ayesha Farooqi',
 'hajackson': 'Hanna Jackson',
 'papatel': 'Pratyush Aarav Patel',
 'hrjackson': 'Henry Jackson',
 'kapilr': 'Kapil Rathore'}

In [77]:
poeple1 = people.fromkeys('kapilr','Kapil Rathore')

In [79]:
poeple1

{'k': 'Kapil Rathore',
 'a': 'Kapil Rathore',
 'p': 'Kapil Rathore',
 'i': 'Kapil Rathore',
 'l': 'Kapil Rathore',
 'r': 'Kapil Rathore'}

In [9]:
people.pop('kapilr')

KeyError: 'kapilr'

In [7]:
people.popitem()

('hrjackson', 'Henry Jackson')

In [10]:
people

{'htanaka': 'Haru',
 'ppatel': 'Priya Patel',
 'bagarcia': 'Benjamin Alberto Garcia',
 'zmin': 'Zhang Min',
 'afarooqi': 'Ayesha Farooqi',
 'hajackson': 'Hanna Jackson',
 'papatel': 'Pratyush Aarav Patel'}

In [16]:
people.setdefault('htanaka')

'Haru'

In [5]:
people

NameError: name 'people' is not defined

In [15]:
poeple1 = people.copy()

In [45]:
poeple1

{'ppatel': 'Priya Patel',
 'bagarcia': 'Benjamin Alberto Garcia',
 'zmin': 'Zhang Min',
 'afarooqi': 'Ayesha Farooqi',
 'hajackson': 'Hanna Jackson',
 'papatel': 'Pratyush Aarav Patel'}

In [46]:
del poeple1["ppatel"]

In [16]:
poeple1.clear()

In [17]:
poeple1

{}

In [18]:
people

{'htanaka': 'Haru',
 'ppatel': 'Priya Patel',
 'bagarcia': 'Benjamin Alberto Garcia',
 'zmin': 'Zhang Min',
 'afarooqi': 'Ayesha Farooqi',
 'hajackson': 'Hanna Jackson',
 'papatel': 'Pratyush Aarav Patel',
 'hrjackson': 'Henry Jackson'}

In [29]:
def hello(a = 'nobody'):    print('Hello'+ a)

In [32]:
def sorter(*args):    
    """ Pass in any number of arguments separated by commas    Inside the function, they treated as a tuple named args """    
    # The passed-in    # Create a list from the passed-in tuple   
    newlist = list(args)    # Sort and show the list.    
    newlist.sort()    
    print(newlist)

In [34]:
sorter(5,3,77,22,345,1)

[1, 3, 5, 22, 77, 345]

In [38]:
def alphabetize(original_list=[]):    
    """ Pass any list in square brackets, displays a string with items sorted """    
    # Inside the function make a working copy of the list passed in.    
    sorted_list = original_list.copy()    # Sort the working copy.    
    sorted_list.sort()    # Make a new empty string for output    
    final_list = ''    # Loop through sorted list and append name and comma and space.    
    for name in sorted_list:        
        final_list += name + ', '    # Knock of last comma space if final list is long enough    
    final_list = final_list[:-2]    # Print the alphabetized list.    
    print(final_list)

In [45]:
alphabetize(['me','wife','son','dad'])

dad, me, son, wife

In [1]:
sorter('me','wife','son','dad')

NameError: name 'sorter' is not defined

In [3]:
names = ['Adams', 'Ma', 'diMeola', 'Zandusky'] 
names.sort(key=lambda s: s.lower()) 
print(names)

['Adams', 'diMeola', 'Ma', 'Zandusky']

In [7]:
# Show number in currency format. 
def currency(n):    
    return f"${n:,.2f}"

In [9]:
currency(2)

'$2.00'

In [35]:
# Define a new class name Member. 
class Member:    
    """ Create a new member. """    
    def __init__(self, uname , fname = 'none'):        
        # Define attributes and give them values
        self.username = uname
        self.fullname = fname

In [38]:
new_guy = Member()

TypeError: __init__() missing 1 required positional argument: 'uname'

In [37]:
new_guy.username

'kapil'

In [24]:
new_guy.username = 'neha'

In [39]:
new_guy.username

'kapil'

In [52]:
# Define a new class name Member. 
class Member:    
    """ Create a new member. """    
    def __init__(self, uname , fname):        
        # Define attributes and give them values
        print(uname,fname)

In [53]:
new_guy = Member('kapil','rathor')

kapil rathor

In [54]:
new_guy